/*Feuille de style pour exercice 3 partie 1*/
body {
  font-size: 16px;
}
#wrapper {
  width: 300px;
  margin: 50px;
  padding: 10px;
}
h1 {
  font-size: 20px;
}
.red {
  color: red;
}
.green {
  color: green;
}
p {
  margin-left: 365px;
  font-style: italic;
}
